@font-face {
    font-family: 'Raleway1';
    src: url('fontz/static/Raleway-ExtraBold.ttf') format('ttf'),
         url('fontz/static/Raleway-Bold.ttf') format('ttf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: 'Raleway2';
    src: url('fontz/static/Raleway-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

#bloc_page{
    width: 900px;
    margin:auto;
}

/* Header */

.logo img{
    width: 120px;
    height: 50px;
}

header h1, section h1, aside h1, footer h1{
    padding-top: 25px;
    font-family: 'Raleway1', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
}

body p{
    font-family: 'Raleway2', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    color: rgb(113, 120, 130);
    
}

.logo p{
    margin-top: -9px;
}


.recherche input[type=text]{
    width: 320px;
    padding: 15px;
    margin-left: 57px;
    margin-bottom: 40px;
    margin-top: 51px;
    box-sizing: border-box;
    border: 0.5px solid gainsboro;
    font-family: 'Raleway2', sans-serif;
    font-weight: normal;
  }

.position{
    margin-top: 19px;
    background-color: rgba(229, 229, 235, 0.945);
    width: 57px;
    height: 49px;
    margin-bottom: -100px;
    border-radius: 18px 0px 0px 18px;
}

.position i{
    position:relative;
    right: -23px;
    bottom: -15px;
    color: black;

}

.bouton{
    background-color:rgb(45, 109, 226);
    width: 156px;
    height: 48px;
    margin-left: 376px;
    margin-top: -88px;
    border-radius: 0px 18px 18px 0px;
}

.bouton a{
    color: white;
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;

    position: relative;
    right: -17px;
    bottom: -13px;
}

nav ul{
    list-style-type: none;
    display: flex;

    position: fixed ; top: 0; right: 0;
}

nav li a{
    margin-right: 50px;
    padding-top: 15px;

    font-family: 'Raleway2', sans-serif; 
    font-weight: normal;
    font-size: 1.1em;

    text-decoration: none;
    color: rgb(113, 120, 130);
}

nav a:hover{
    
    color: rgb(45, 109, 226);
    border-top: 2px rgb(45, 109, 226) solid;
    
}

 .filtres{
     font-family: 'Raleway2', sans-serif;
     font-size: 0.9em;
     font-weight: bold;
     
     display: flex;
     align-items: center;

     margin-top: 22px;
     width: 700px;
 }

 .filtres ul{
     list-style-type: none;
     display: flex;
     margin-right: 20px;
 }

 .filtres a{
     text-decoration: none;
     margin-right: 30px;

     color: black; 

     border: 1px rgb(170, 177, 187) solid;
     padding: 7px 11px 7px 20px;
     border-radius: 0px 16px 16px 0px;
}

 .icones_filtres{
     display: flex;
     margin-top: -30px;
 }

 .money{
     background-color:rgb(190, 225, 253);
     height: 32px;
     width: 32px;
     border-radius: 100%;
     margin-left: 65px;
     margin-top: -8px;
 }

 .money i{
     color: rgb(45, 109, 226);
     position: relative;
     right: -5px;
     bottom: -6px;
 }

 .money:hover{
     transform: scale(1.2, 1.2);
     transition: 0.5s ease-in-out;
 }

 .child{
    background-color:rgb(190, 225, 253);
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-left: 105px;
    margin-top: -8px;
 }

 .child i{
    color: rgb(45, 109, 226);
    position: relative;
    right: -10px;
    bottom: -6px;
}

.child:hover{
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
}

.heart{
    background-color:rgb(190, 225, 253);
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-left: 80px;
    margin-top: -8px;
 }

.heart i{
    color: rgb(45, 109, 226);
    position: relative;
    right: -8px;
    bottom: -8px;
}

.heart:hover{
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
}

.dog {
    background-color:rgb(190, 225, 253);
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-left: 115px;
    margin-top: -8px;
 }

 .dog i{
    color: rgb(45, 109, 226);
    position: relative;
    right: -7px;
    bottom: -5px;
}

.dog:hover{
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
}

.infos{
    margin-top: 20px;
}

.infos a {
    display: flex;
    align-items: center;
    color: rgb(113, 120, 130);
    text-decoration: none;

}

.circleinf{
    border: 1px rgb(113, 120, 130) solid;
    border-radius: 100%;
    margin-right: 16px;
}

.circleinf i{
    color: rgb(45, 109, 226);
    position: relative;
    margin: 3px 8px;

}

/* Section */

#heb_title{
    margin-top: 100px;
    margin-left: 30px;
}

#hebergements{
    background-color: rgba(229, 229, 235, 0.945);
    border-radius: 20px;
    height: 880px;
    width: 1230px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -110px;
}

#hebergements img{
    width: 323px;
    height: 165px;
    border-radius: 14px 14px 0px 0px;
    margin-top: -3px;
    margin-left: 8px;
}

#hebergements figure{
    background-color: white;
    border: 1px solid white;
    width: 340px;
    height: 280px;
    border-radius: 25px;
    margin-top: 120px;
    margin-right: -40px;
    margin-bottom: -65px;
    box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 5px;
}

#hebergements a{
    text-decoration: none;
}

#hebergements strong{
    color: black;
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
}

#hebergements p{
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Raleway2', sans-serif;
}

#hebergements div{
    margin-top: -17px;
}

.aff_plus a{
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Raleway2', sans-serif;
    color: black;

}

.aff_plus{
    margin-left: -1130px;
    padding-top: 800px;
}

/* Rating Stars*/

.stars input{
    /*display: none; */
}
 
.stars label{
    display: inline;
    cursor: pointer;
    background-color: gray;
}

.stars label:before{
    content: '\f005';
    font-family: fontAwesome;
}

/* Aside Populaires */

aside{
    background-color: rgba(229, 229, 235, 0.945);
    border-radius: 20px;
    height: 800px;
    width: 580px; 
    display: flex;
    flex-direction: column;
    margin-left: 1300px;
    margin-top: -800px;
}

aside img{
    width: 239px;
    height: 120px;
    border-radius: 14px 14px 0px 0px;
    padding: 5px;
}

aside figure{
    background-color: white;
    border: 1px solid white;
    width: 450px;
    height: 150px;
    border-radius: 14px 14px 14px 14px;
    display: flex;
}

aside a{
    text-decoration: none;
}

aside strong{
    color: black;
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
}

aside p{
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Raleway2', sans-serif;
}

aside div{
    margin-top: -17px;
}