@font-face{
    font-family: 'Raleway1';
    src: url('fontz/static/Raleway-ExtraBold.ttf') format('ttf'),
         url('fontz/static/Raleway-Bold.ttf') format('ttf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
    font-family: 'Raleway2';
    src: url('fontz/static/Raleway-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* Header */

.logo img{
    width: 120px;
    height: 50px;
}

header h1, section h1, aside h1, footer h1{
    padding-top: 25px;
    font-family: 'Raleway1', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
}

body p{
    font-family: 'Raleway2', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    color: rgb(113, 120, 130);
    
}

.logo p{
    margin-top: -9px;
}


.recherche input[type=text]{
    width: 320px;
    padding: 15px;
    margin-left: 57px;
    margin-bottom: 40px;
    margin-top: 51px;
    box-sizing: border-box;
    border: 0.5px solid gainsboro;
    font-family: 'Raleway2', sans-serif;
    font-weight: normal;
  }

.position{
    margin-top: 19px;
    background-color: rgba(238, 238, 238, 0.781);
    width: 57px;
    height: 49px;
    margin-bottom: -100px;
    border-radius: 18px 0px 0px 18px;
}

.position i{
    position:relative;
    right: -23px;
    bottom: -15px;
    color: black;

}

.bouton{
    background-color:rgb(45, 109, 226);
    width: 156px;
    height: 48px;
    margin-left: 376px;
    margin-top: -88px;
    border-radius: 0px 18px 18px 0px;
}

.bouton a{
    color: white;
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;

    position: relative;
    right: -17px;
    bottom: -13px;
}
.mob_bouton{
    display: none;
}

nav ul{
    list-style-type: none;
    display: flex;

    position: fixed ; top: 0; right: 0;
}

nav li a{
    margin-right: 50px;
    padding-top: 15px;

    font-family: 'Raleway2', sans-serif; 
    font-weight: normal;
    font-size: 1.1em;

    text-decoration: none;
    color: rgb(113, 120, 130);
}

nav a:hover{
    
    color: rgb(45, 109, 226);
    border-top: 2px rgb(45, 109, 226) solid;
    
}

 .filtres{
     font-family: 'Raleway2', sans-serif;
     font-size: large;
     font-weight: normal;
     
     display: flex;
     align-items: center;

     margin-top: 27px;
     width: 1500px;
 }

 .filtres ul{
     list-style-type: none;
     display: flex;
     margin-right: 40px;
 }

 .filtres a{
     text-decoration: none;
     margin-right: 60px;
     margin-left: 40px;

     color: black; 

     border: 1px rgb(170, 177, 187) solid;
     padding: 15px 35px 15px 75px;
     border-radius: 25px 30px 30px 25px;
}

 .icones_filtres{
     display: flex;
     margin-top: -30px;
 }

 .money{
     background-color:rgb(190, 225, 253);
     height: 53px;
     width: 54px;
     border-radius: 100%;
     margin-left: 133px;
     margin-top: -26px;
 }

 .money i{
     color: rgb(45, 109, 226);
     position: relative;
     right: -17px;
     bottom: -16px;
 }

 .money:hover{
     transform: scale(1.2, 1.2);
     transition: 0.5s ease-in-out;
 }

 .child{
    background-color:rgb(190, 225, 253);
    height: 53px;
    width: 54px;
    border-radius: 100%;
    margin-left: 255px;
    margin-top: -26px;
 }

 .child i{
    color: rgb(45, 109, 226);
    position: relative;
    right: -21px;
    bottom: -16px;
}

.child:hover{
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
}

.heart{
    background-color:rgb(190, 225, 253);
    height: 53px;
    width: 54px;
    border-radius: 100%;
    margin-left: 219px;
    margin-top: -26px;
 }

.heart i{
    color: rgb(45, 109, 226);
    position: relative;
    right: -19px;
    bottom: -17px;
}

.heart:hover{
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
}

.dog {
    background-color:rgb(190, 225, 253);
    height: 53px;
    width: 54px;
    border-radius: 100%;
    margin-left: 254px;
    margin-top: -26px;
 }

 .dog i{
    color: rgb(45, 109, 226);
    position: relative;
    right: -18px;
    bottom: -15px;
}

.dog:hover{
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
}

.infos{
    margin-top: 20px;
}

.infos a {
    display: flex;
    align-items: center;
    color: rgb(113, 120, 130);
    text-decoration: none;

}

.circleinf{
    border: 1px rgba(194, 194, 194, 0.753) solid;
    border-radius: 100%;
    margin-right: 16px;
}

.circleinf i{
    color: rgb(45, 109, 226);
    position: relative;
    margin: 3px 8px;

}

/* Section */


#heb_title{
    margin-left: 20px;
    margin-bottom: -75px;
    margin-right: -40px;
}

#heb_title h2{
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

#hebergements{
    background-color: rgba(238, 238, 238, 0.781);
    border-radius: 20px;
    height: 880px;
    width: 1210px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-left: 20px;
}

#hebergements img{
    width: 343px;
    height: 165px;
    border-radius: 14px 14px 0px 0px;
    margin-top: -3px;
    margin-left: 8px;
    object-fit: cover;
}

#hebergements figure{
    background-color: white;
    border: 1px solid white;
    width: 360px;
    height: 280px;
    border-radius: 25px;
    margin-top: 120px; 
    margin-left: 10px;
    margin-bottom: -65px;
    box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 5px;
}
#hebergements figcaption{
    padding-left: 15px;
}

#hebergements a{
    text-decoration: none;
    z-index: 1;
} 

#hebergements strong{
    color: black;
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
}

#hebergements p{
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Raleway2', sans-serif;
}

#hebergements div{
    margin-top: -17px;
}

#hebergements .rating .blue{ 
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: rgb(170, 177, 187);
    margin-top: 10px;
}

.blue i{
    color: rgb(45, 109, 226);
    
}

.aff_plus a{
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Raleway2', sans-serif;
    color: black;

}

.aff_plus{
    margin-left: -1210px;
    padding-top: 800px;
}

/* Aside Populaires */

aside{
    background-color: rgba(238, 238, 238, 0.781);
    border-radius: 20px;
    height: 880px;
    width: 570px; 
    display: flex;
    flex-direction: column;
    margin-left: 1285px;
    margin-top: -880px;
}

#tit_pop{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    margin-left: 35px;
}

#tit_pop i{
    margin-top: 18px;
    margin-right: -20px;
    margin-left: 20px;
}

#tit_pop h2{
    font-family: 'Raleway2', sans-serif;
    font-size: 1.6em;
    margin-left: -85px;
    font-weight: bold;
}

aside img{
    width: 220px;
    height: 170px;
    border-radius: 14px 0px 0px 14px;
    margin-top: -3px;
    margin-left: 8px;
    object-fit: cover;
}

aside figure{
    background-color: white;
    border: 1px solid white;
    width: 480px;
    height: 190px;
    border-radius: 25px;
    display: flex;
    margin-bottom: 45px;
    box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 5px;
}

.infos_pop{
    margin-top: 30px;
    margin-left: 20px;
    
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
}

aside a{
    text-decoration: none;
}

aside strong{
    color: black;
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
}

aside p{
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Raleway2', sans-serif;
}

aside div{
    margin-top: -17px;
}

.rating{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: rgb(170, 177, 187);
    margin-top: 45px;
}

aside .blue{
    color: rgb(45, 109, 226);
    display: flex;
    align-items: baseline;
    margin-top: 15px;

}
/* ACT Marseille*/

#activites{
    display: flex;
    margin-top: 50px;
    width: 1830px;
    margin-left: auto;
    margin-right: auto;
}

#activites h2{
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
}

#activites img{
    border-radius: 20px 20px 0px 0px;
    width: 410px;
}

#activites figcaption{
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    border: 1px rgb(170, 177, 187) solid;
    padding: 20px 0px 20px 20px;
    margin-top: -20px;

    box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 4px;

}

#activites a{
    text-decoration: none;
    color: black;
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
}

#pomegues{
    height: 300px;
    margin-top: -3px;
    margin-bottom: -5px;
    object-fit: cover;
    object-position: center;
}

#frioul{
    height: 190px;
    margin-top: 45px;
    object-fit: none;
    object-position: bottom;
}

#garde{
    height: 240px;
    object-fit: none;
    object-position: top;
}

#longchamp{
    height: 245px;
    margin-top: 45px;
    object-fit: none;
    object-position: center;
}

.big_a img{
    width: 410px;
    height: 620px;
    object-fit: none;
}

#act_1 .small_a{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-left: -15px;
}

#act_2 .small_a{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 490px;
    margin-left: -15px;
}

#act_1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: -276px;
    margin-right: 12px;
    width: 840px;
    height: 700px;
}

#act_2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 840px;
    height: 700px;
    margin-top: 62px;
    margin-left: 95px;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 40px;
    width: 1850px;

    background-color: rgba(238, 238, 238, 0.781);
}

footer div{
    margin-right: 460px;
    margin-left: -15px;
    display: flex;
    flex-direction: column;
}
footer p{
    color: black;
    
}

footer ul{
    list-style-type: none;
}

footer li a{
    text-decoration: none;
    color: rgb(99, 99, 99); 
    font-family: 'Raleway2', sans-serif;
    margin-left: -40px;
}

@media only screen and (min-width: 769px) and (max-width: 1024px){

    .filtres{
        font-family: 'Raleway2', sans-serif;
        font-size: large;
        font-weight: normal;
        
        display: flex;
        align-items: center;
   
        margin-top: 27px;
        width: 1500px;
    }
   
    .filtres ul{
        list-style-type: none;
        display: flex;
        margin-right: 40px;
    }
   
    .filtres a{
        text-decoration: none;
        margin-right: 60px;
        margin-left: 40px;
   
        color: black; 
   
        border: 1px rgb(170, 177, 187) solid;
        padding: 15px 35px 15px 75px;
        border-radius: 25px 30px 30px 25px;
   }
   
    .icones_filtres{
        display: flex;
        margin-top: -30px;
    }

    .money{
        background-color:rgb(190, 225, 253);
        height: 53px;
        width: 130%;
        border-radius: 100%;
        
        margin-top: -26px;
    }
   
    .money i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -17px;
        bottom: -16px;
    }
   
    .child{
       background-color:rgb(190, 225, 253);
       height: 53px;
       width: 130%;
       border-radius: 100%;
       
       margin-top: -26px;
    }
   
    .child i{
       color: rgb(45, 109, 226);
       position: relative;
       right: -21px;
       bottom: -16px;
   }
   
   .heart{
       background-color:rgb(190, 225, 253);
       height: 53px;
       width: 130%;
       border-radius: 100%;
       margin-right: -40px;
       margin-top: -26px;
    }
   
   .heart i{
       color: rgb(45, 109, 226);
       position: relative;
       right: -19px;
       bottom: -17px;
   }
   
   .dog {
       background-color:rgb(190, 225, 253);
       height: 53px;
       width: 130%;
       border-radius: 100%;
       margin-right: -30px;
       margin-top: -26px;
    }
   
    .dog i{
       color: rgb(45, 109, 226);
       position: relative;
       right: -18px;
       bottom: -15px;
   }

   #anima_mob{
       
       width: 80%;
       margin-left: -20px;
   }

   #activites{
    display: flex;
    margin-top: 50px;
    width: 1830px;
    margin-left: 25px;
    margin-right: auto;
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: 1440px){

    #activites{
        display: flex;
        margin-top: 50px;
        width: 1830px;
        margin-left: 25px;
        margin-right: auto;
        }

}


/* Version Mobile*/

@media only screen and (max-width: 375px) {
    
    .bloc_page{
        max-width: 375px;
        overflow: hidden;
        z-index: -1;
    }

    .logo img{
        width: 100px;
        height: 50px;
        margin-left: 10px;
        margin-top: 10px;
    }

    header h1, section h1, aside h1, footer h1{
        padding-top: 25px;
        font-family: 'Raleway1', sans-serif;
        font-weight: bold;
        font-size: 1.5em;
    }

    header h1{
        margin-left:10px;
        margin-top: 80px;
    
    }

    body p{
        font-family: 'Raleway2', sans-serif;
        font-weight: lighter;
        font-size: 1.1em;
        color: rgb(49, 49, 49);
    }
    
    .logo p{
        margin-top: 3px;
        margin-left: 10px;
    }

    nav ul{
        list-style-type: none;
        display: flex;

        position: relative; top: 0; left: 0;
        margin-top: -285px;
        margin-bottom: 250px;
    }
    
    nav li a{
        font-family: 'Raleway2', sans-serif; 
        font-weight:lighter;
        font-size: 1.1em;
    
        text-decoration: none;
        color: rgb(113, 120, 130);

        padding: 0px 45px 20px 45px;
        border-bottom: 3px rgb(170, 177, 187) solid;
    }
    
    #actact{
        padding: 0px 50px 20px 50px;
        margin-left: 165px;
    }

    #hebheb{
        width: 80%;
        padding: 0px 40px 20px 50px;
        margin-left: -40px;
    }

    nav li{
        width: 0;
    }
    
    

    #inscrire{
        position: absolute; top: 0;
        margin-left: 190px;
        margin-top: -60px;
        border: none;
        width: 50px;
        
    }
    
    nav a:hover{
        color: rgb(45, 109, 226);
        border-top: none;
        border-bottom: 3px rgb(45, 109, 226) solid;
    }


    /* Recherche */

    .recherche input[type=text]{
        width: 250px;
        padding: 15px;
        margin-left: 59px;
        margin-bottom: 40px;
        margin-top: 52px;
        box-sizing: border-box;
        border: 0.5px solid gainsboro;
        font-family: 'Raleway2', sans-serif;
        font-weight: normal;
      }
    
    .position{
        margin-top: 15px;
        margin-left: 9px;
        background-color: rgba(238, 238, 238, 0.781);
        width: 50px;
        height: 46px;
        margin-bottom: -100px;
        border: 0.5px solid gainsboro;
        border-radius: 18px 0px 0px 18px;
    }
    
    .position i{
        position:relative;
        right: -20px;
        bottom: -14px;
        color: black;
        
    
    }
    
    .bouton{
        background-color:rgb(45, 109, 226);
        width: 50px;
        height: 48px;
        margin-left: 300px;
        margin-top: -88px;
        border-radius: 15px 15px 15px 15px;
        position: absolute;
        
    }
    
    .bouton a{
        display: none;
    }

    .mob_bouton{
        display: block;
        margin-left: 317px;
        margin-top: -73px;
        position: absolute;
    }

    .mob_bouton i{
        color: white;
       
    }
    
    /* Filtres*/

    .filtres{
        font-size: large;
        font-weight: normal;
        
        margin-top: -5px;
        width: 100%;
        height: 270px;
        
    }

    .filtres ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        
        height: 220px;
        width: 100%;
        margin: 0 auto;
        
    }

    .filtres b{
        position: absolute; left: 20px;
        margin-top: -235px;
        margin-bottom: 10px;
        
    }

    .filtres a{
        color: black; 
        margin-left: -30px;
        
        border: 1px rgb(170, 177, 187) solid;
        padding: 10px 15px 10px 30px;
        border-radius: 5px 30px 30px 5px;
        
    }

    .filtres li{
        
        height: 20%;
        margin-top: 10px;
        margin-left: 25px;
        width: 30%;
    }
    #anima_mob{
        width: 70%;
    }
    
    #fam_mob{
        margin-left: 95px;
    }

    .icones_filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin-top: -30px;
    }

    .money{
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: 12px;
        margin-top: -207px;
    }

    .money i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -14px;
        bottom: -13px;
    }
    
    .child{
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: 140px;
        margin-top: -208px;
     }
    
     .child i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -18px;
        bottom: -14px;
    }

    .heart{
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: -233px;
        margin-top: -134px;
     }
    
    .heart i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -16px;
        bottom: -14px;
    }

    .dog {
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: -47px;
        margin-top: -60px;
     }
    
     .dog i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -15px;
        bottom: -12px;
    }


    /* Heb Mobile*/

    #hebergements{
        background-color: white;
        border-radius: 20px;
        height: 1700px;
        width: 100%; 
        display: flex;
        flex-direction: column;
        margin-top: 700px;
        margin-left: -2px;
        margin-bottom: 400px;
    }
    
    .panier{order: 1;}
    .mer{order: 4;}
    .pport{order: 2;}
    .mou{order: 3;}
    .panier{order: 5;}
    .amina{order: 6;}

    .pport{
        margin-top: -800px;
    }
    

    #heb_title{
        margin-top: 100px;
        margin-left: 20px;
        margin-bottom: -115px;
        margin-right: -40px;
        width: 90%;
    }
    
    #heb_title h1{
        font-family: 'Raleway2', sans-serif;
        font-weight: bold;
        font-size: 1.5em;
    }

    #hebergements img{
        width: 330px;
        height: 120px;
        border-radius: 14px 14px 0px 0px;
        margin-top: 1px;
        margin-left: 5px;
        object-fit: cover;
    }
    
    #hebergements figure{
        background-color: white;
        border: 1px solid white;
        width: 340px;
        height: 210px;
        border-radius: 20px;
        margin-top: 120px; 
        margin-left: 10px;
        margin-bottom: -65px;
        box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 5px;
    }

    #hebergements figcaption{
        padding-left: 15px;
        margin-top: -10px;
    }

    #hebergements p{
        margin-top: 4px;
    }

    

    /* Aside Mob*/

    aside{
        background-color: rgba(238, 238, 238, 0.781);
        height: 680px;
        border-radius: 0px;
        width: 375px; 
        display: flex;
        flex-direction: column;
        margin-left: -8px;
        margin-top: -2800px;
        margin-bottom: 1750px;
    }

    #tit_pop i{
        margin-top: -15px;
        height: 30px;
    }

    #tit_pop h2{
        font-family: 'Raleway2', sans-serif;
        font-size: 1.4em;
        margin-left: -55px;
        font-weight: bold;
        margin-bottom: 40px;
        margin-top: -10px;
        
    }

    aside figure{
        background-color: white;
        border: 1px solid white;
        width: 340px;
        height: 170px;
        border-radius: 25px;
        margin-left: 15px;
        display: flex;
        
        margin-top: -20px;
        box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 5px;
    }

    aside img{
        width: 150px;
        height: 150px;
        border-radius: 14px 0px 0px 14px;
        margin-top: -3px;
        margin-left: 8px;
        object-fit: cover;
    }
    
    aside p{
        font-size: 0.8em;
        font-weight: normal;
        font-family: 'Raleway2', sans-serif;
    }

    .infos_pop{
        margin-top: 17px;
    }

    .rating{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        color: rgb(170, 177, 187);
        margin-top: 25px;
    }
    
    aside strong{
        font-size: 0.9em;
    }

    /* Activites Mobile */ 

    #activites{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        
    }

    #activites h2{
        margin-left: 15px;
        width: 80%;
    }

    #act_1{
        margin-left: -13px;
        
    }

    #act_1 .big_a{
        margin-top: -85px;
        margin-left: -15px;
        margin-bottom: -70px;
    }

    .big_a img{
        object-fit: cover;
    }

    #act_1 figure{
        width: 336px;
    }

    #frioul{
        margin-top: -1px;
    }

    #activites img{
        width: 335px;
        height: 150px;
    }

    #act_2 .big_a{
        margin-top: -180px;
        margin-left: -15px;
        margin-bottom: -165px;
    }

    #act_2{
        margin-left: -13px;
        
    }

    #act_2 figure{
        width: 336px;
        
    }

    #longchamp{
        margin-top: 2px;
    }

    /* Footer Mob */

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 333px;
        height: 420px;
        background-color: rgba(238, 238, 238, 0.781);

        margin-left: -7px;
        margin-top: -40px;
    }

    footer div{
        width: 260px;
        align-content: space-around;
    }

    footer p{
        margin-bottom: -5px;
    }

    footer li {
        margin-top: 5px;
    }

    /* 320                                */

    @media only screen and (max-width: 320px){

        .bloc_page{
            width: 320px;
            padding: 0;
            margin: 0 auto;
        }

        .logo img{
            width: 90px;
            height: 40px;
        }
    
        header h1, section h1, aside h1, footer h1{
            font-size: 1.3em;
        }
    
        header h1{
            margin-left:10px;
            margin-top: 80px;
        }    
        body p{
            font-size: 1em;
        }

        nav ul{
            list-style-type: none;
            display: flex;
    
            position: relative; top: 0; left: 0;
            margin-top: -260px;
            margin-bottom: 250px;
            margin-left: -15px;
        }
        
        nav li a{
            font-size: 0.9em;
        }
        
        #actact{
            padding: 0px 49px 20px 45px;
            margin-left: 132px;
        }
    
        #hebheb{
            padding: 0px 40px 20px 40px;
            margin-left: -30px;
        }
        
        #inscrire{
            margin-left: 155px;
            margin-top: -60px;
        }

        .recherche input[type=text]{
            width: 230px;
          }
        
        .bouton{
            margin-left: 250px;
        }
        
        .bouton a{
            display: none;
        }
    
        .mob_bouton{
            margin-left: 268px;
        }

        .filtres{
            font-size: 0.9em;
            font-weight: bold;
            
            margin-top: -5px;
            width: 100%;
            height: 270px;
            margin-left: -10px;
        }
        
        .filtres ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-around;
            
            height: 200px;
            width: 320px;
            margin: 0 auto;
            
        }
    
        .filtres b{
            position: absolute; left: 20px;
            margin-top: -235px;
            margin-bottom: 10px;
            font-size: 1em;
            margin-left: -5px;
            
        }
    
        .filtres a{
            color: black; 
            margin-left: -40px;
            margin-top: 30px;
            
            border: 1px rgb(170, 177, 187) solid;
            padding: 10px 15px 10px 30px;
            border-radius: 5px 30px 30px 5px;
            
            
        }
    
        .filtres li{
            height: 20%;
            margin-top: 10px;
            margin-left: 30px;
            width: 20%;
            
        }

        #fam_mob{
            margin-left: 115px;
            margin-top: 12px;
        }

    
        .money{
            height: 38px;
            width: 43px;
            
            margin-left: 5px;
            margin-top: -198px;
        }
    
        .money i{    
            right: -12px;
            bottom: -11px;
        }
        
        .child{
            height: 38px;
            width: 43px;
            
            margin-left: 120px;
            margin-top: -196px;
         }
        
         .child i{
            right: -16px;
            bottom: -12px;
        }
    
        .heart{
            height: 38px;
            width: 43px;
            
            margin-left: -206px;
            margin-top: -130px;
         }
        
        .heart i{
            right: -14px;
            bottom: -12px;
        }
    
        .dog {
            height: 38px;
            width: 43px;
            
            margin-left: -42px;
            margin-top: -64px;
         }
        
         .dog i{
            right: -14px;
            bottom: -10px;
        }

        .infos{
            width: 310px;
        }
        .infos p{
            margin-left: -15px;
        }

        #hebergements{
            height: 1550px;
            width: 310px; 
            display: flex;
            
            margin-top: 625px;
            margin-left: 0px;
            margin-bottom: 400px;
            background-color: white;
        }

        .pport{
            margin-top: 0px;
        }
        
    
        #heb_title h1{
            font-size: 1.1em;
        }
    
        #hebergements img{
            width: 270px;
            height: 100px;
            margin-top: 1px;
            margin-left: 5px;
           
        }
        
        #hebergements figure{
            width: 280px;
            height: 190px;

            margin-top: 120px; 
            margin-left: 13px;
            margin-bottom: -65px;
        }
        
        #hebergements p{
            margin-top: 4px;
        }
    
        .aff_plus{
            position: fixed; top: 0; left:0;
            margin-top: 1500px;
        }

        aside{
            height: 600px;
            width: 310px; 

            margin-left: 0px;
            margin-top: -2560px;
            margin-bottom: 1580px;
        }
    
        #tit_pop h2{
            font-size: 1.1em;
        }
    
        aside figure{
            width: 290px;
            height: 140px;
         
            margin-left: 9px;
            margin-top: -20px;
        }
        
        aside figcaption{
            margin-top: -5px;
        }
    
        aside img{
            width: 110px;
            height: 130px;
            border-radius: 20px 0px 0px 20px;
            margin-top: -8px;
            margin-left: 5px;
        }
        
        aside p{
            font-size: 0.9em;
        }
    
        .rating{
            margin-top: 20px;
        }

        #activites{
            width: 310px;
            height: 1400px;
            
            margin-left: -4px;
        }
    
        #activites h2{
            margin-left: 15px;
        }

        #act_1 {
            margin-top: -20px;
        }
    
        #act_1 .big_a{
            margin-top: -25px;
           
            margin-bottom: -70px;
            height: 200px ;
    
        }
    
        #act_1 figure{
            width: 295px;
            margin-bottom: 100px;
            
        }
    
        #frioul{
            margin-top: -100px;
            object-fit: cover;
            object-position: bottom;
        }

        #garde {
            object-fit: cover;
        }

        #longchamp{
            object-fit: cover;
        }
    
        #activites img{
            width: 295px;
            height: 120px;
        }
    
        #act_2 .big_a{
            margin-left: -15px;
            margin-bottom: -300px;
        }
    
        #act_2{
            margin-top: -95px;
            
        }
    
        #act_2 figure{
            width: 295px;
        }
    
        #longchamp{
            margin-top: -12px;
        }

        footer{
            width: 275px;
            height: 450px;
    
            margin-left: -7px;
            margin-top: -150px;
        }
    
        footer div{
            width: 260px;
        }

        footer p{
            font-weight: bold;
        }
    
    }

}

@media only screen and (min-width: 376px) and (max-width: 425px){

    .bloc_page{
        max-width: 425px;
        overflow: hidden;
    }

    .logo img{
        width: 100px;
        height: 50px;
        margin-left: 10px;
        margin-top: 10px;
    }

    header h1, section h1, aside h1, footer h1{
        padding-top: 25px;
        font-family: 'Raleway1', sans-serif;
        font-weight: bold;
        font-size: 1.6em;
    }

    header h1{
        margin-left:10px;
        margin-top: 80px;
    
    }

    body p{
        font-family: 'Raleway2', sans-serif;
        font-weight: lighter;
        font-size: 1.2em;
        color: rgb(49, 49, 49);
    }
    
    .logo p{
        margin-top: 3px;
        margin-left: 10px;
    }

    nav ul{
        list-style-type: none;
        display: flex;

        position: relative; top: 0; left: 0;
        margin-top: -285px;
        margin-bottom: 250px;
    }
    
    nav li a{
        font-family: 'Raleway2', sans-serif; 
        font-weight:lighter;
        font-size: 1.2em;
    
        text-decoration: none;
        color: rgb(113, 120, 130);

        padding: 0px 45px 20px 45px;
        border-bottom: 3px rgb(170, 177, 187) solid;
    }
    
    #actact{
        padding: 0px 75px 20px 45px;
        margin-left: 180px;
    }

    #hebheb{
        width: 80%;
        padding: 0px 55px 20px 40px;
        margin-left: -40px;
    }

    nav li{
        width: 0;
    }
    
    

    #inscrire{
        position: absolute; top: 0;
        margin-left: 210px;
        margin-top: -60px;
        border: none;
        width: 50px;
        
    }
    
    nav a:hover{
        color: rgb(45, 109, 226);
        border-top: none;
        border-bottom: 3px rgb(45, 109, 226) solid;
    }


    /* Recherche */

    .recherche input[type=text]{
        width: 290px;
        padding: 15px;
        margin-left: 59px;
        margin-bottom: 40px;
        margin-top: 52px;
        box-sizing: border-box;
        border: 0.5px solid gainsboro;
        font-family: 'Raleway2', sans-serif;
        font-weight: normal;
      }
    
    .position{
        margin-top: 15px;
        margin-left: 9px;
        background-color: rgba(238, 238, 238, 0.781);
        width: 50px;
        height: 46px;
        margin-bottom: -100px;
        border: 0.5px solid gainsboro;
        border-radius: 18px 0px 0px 18px;
    }
    
    .position i{
        position:relative;
        right: -20px;
        bottom: -14px;
        color: black;
        
    
    }
    
    .bouton{
        background-color:rgb(45, 109, 226);
        width: 50px;
        height: 48px;
        margin-left: 340px;
        margin-top: -88px;
        border-radius: 15px 15px 15px 15px;
        position: absolute;
        
    }
    
    .bouton a{
        display: none;
    }

    .mob_bouton{
        display: block;
        margin-left: 357px;
        margin-top: -73px;
        position: absolute;
    }

    .mob_bouton i{
        color: white;
       
    }
    
    /* Filtres*/

    .filtres{
        font-size: large;
        font-weight: normal;
        
        margin-top: -5px;
        width: 100%;
        height: 270px;
        
    }

    .filtres ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        
        height: 220px;
        width: 100%;
        margin: 0 auto;
        
    }

    .filtres b{
        position: absolute; left: 20px;
        margin-top: -235px;
        margin-bottom: 10px;
        
    }

    .filtres a{
        color: black; 
        margin-left: -30px;
        
        border: 1px rgb(170, 177, 187) solid;
        padding: 10px 15px 10px 30px;
        border-radius: 5px 30px 30px 5px;
        
    }

    .filtres li{
        
        height: 20%;
        margin-top: 10px;
        margin-left: 25px;
        width: 30%;
    }
    #anima_mob{
        width: 70%;
    }
    
    #fam_mob{
        margin-left: 100px;
    }

    .icones_filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin-top: -30px;
    }

    .money{
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: 12px;
        margin-top: -207px;
    }

    .money i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -14px;
        bottom: -13px;
    }
    
    .child{
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: 160px;
        margin-top: -208px;
     }
    
     .child i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -18px;
        bottom: -14px;
    }

    .heart{
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: -253px;
        margin-top: -134px;
     }
    
    .heart i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -16px;
        bottom: -14px;
    }

    .dog {
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: -47px;
        margin-top: -60px;
     }
    
     .dog i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -15px;
        bottom: -12px;
    }


    /* Heb Mobile*/

    #hebergements{
        background-color: white;
        border-radius: 20px;
        height: 1700px;
        width: 100%; 
        display: flex;
        flex-direction: column;
        margin-top: 700px;
        margin-left: -2px;
        margin-bottom: 400px;
    }
    
    .panier{order: 1;}
    .mer{order: 4;}
    .pport{order: 2;}
    .mou{order: 3;}
    .panier{order: 5;}
    .amina{order: 6;}

    .pport{
        margin-top: -800px;
    }
    

    #heb_title{
        margin-top: 100px;
        margin-left: 20px;
        margin-bottom: -115px;
        margin-right: -40px;
        width: 90%;
    }
    
    #heb_title h1{
        font-family: 'Raleway2', sans-serif;
        font-weight: bold;
        font-size: 1.5em;
    }

    #hebergements img{
        width: 360px;
        height: 120px;
        border-radius: 14px 14px 0px 0px;
        margin-top: 3px;
        margin-left: 5px;
        object-fit: cover;
    }
    
    #hebergements figure{
        background-color: white;
        border: 1px solid white;
        width: 370px;
        height: 210px;
        border-radius: 20px;
        margin-top: 120px; 
        margin-left: 18px;
        margin-bottom: -65px;
        box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 5px;
    }
    #hebergements figcaption{
        padding-left: 15px;
        margin-top: -10px;
    }

    #hebergements p{
        margin-top: 4px;
    }

    .aff_plus a{
        position: relative; left: 0; top: 0;
        margin-top: 50%;
    }

    /* Aside Mob*/

    aside{
        background-color: rgba(238, 238, 238, 0.781);
        height: 680px;
        border-radius: 0px;
        width: 100%; 
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: -2800px;
        margin-bottom: 1750px;
    }

    #tit_pop i{
        margin-top: -15px;
        height: 30px;
    }

    #tit_pop h2{
        font-family: 'Raleway2', sans-serif;
        font-size: 1.4em;
        margin-left: -65px;
        font-weight: bold;
        margin-bottom: 40px;
        margin-top: -10px;
        
    }

    aside figure{
        background-color: white;
        border: 1px solid white;
        width: 375px;
        height: 170px;
        border-radius: 25px;
        margin-left: 15px;
        display: flex;
        
        margin-top: -20px;
        box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 5px;
    }

    aside img{
        width: 150px;
        height: 150px;
        border-radius: 14px 0px 0px 14px;
        margin-top: -3px;
        margin-left: 8px;
        object-fit: cover;
    }
    
    aside p{
        font-size: 0.8em;
        font-weight: normal;
        font-family: 'Raleway2', sans-serif;
    }

    .infos_pop{
        margin-top: 17px;
    }

    .rating{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        color: rgb(170, 177, 187);
        margin-top: 25px;
    }
    
    aside strong{
        font-size: 0.9em;
    }

    /* Activites Mobile */ 

    #activites{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        
    }

    #activites h2{
        margin-left: 15px;
        width: 80%;
    }

    #act_1{
        margin-left: -13px;
        
    }

    #act_1 .big_a{
        margin-top: -85px;
        margin-left: -15px;
        margin-bottom: -70px;
    }

    .big_a img{
        object-fit: cover;
    }

    #act_1 figure{
        width: 384px;
    }

    #frioul{
        margin-top: -1px;
    }

    #activites img{
        width: 384px;
        height: 150px;
        margin-bottom: -3px;
    }

    #act_2 .big_a{
        margin-top: -180px;
        margin-left: -15px;
        margin-bottom: -165px;
    }

    #act_2{
        margin-left: -13px;
        
    }

    #act_2 figure{
        width: 384px;
        
    }

    #longchamp{
        margin-top: 2px;
    }

    /* Footer Mob */

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 420px;
        background-color: rgba(238, 238, 238, 0.781);

        margin-left: -7px;
        margin-top: -40px;
    }

    footer div{
        width: 260px;
        align-content: space-around;
    }

    footer p{
        margin-bottom: -5px;
        font-size: 1.3em;
    }

    footer li {
        margin-top: 5px;
    }

}

/* Tablet */

@media only screen and (min-width: 426px) and (max-width: 768px){

    .bloc_page{
        max-width: 768px;
        overflow: hidden;
       
    }

    .logo img{
        width: 140px;
        height: 70px;
        margin-left: 10px;
        margin-top: 10px;
    }

    header h1, section h1, aside h1, footer h1{
        padding-top: 25px;
        font-family: 'Raleway1', sans-serif;
        font-weight: bold;
        font-size: 1.6em;
    }

    header h1{
        margin-left:10px;
        margin-top: 80px;
    
    }

    body p{
        font-family: 'Raleway2', sans-serif;
        font-weight: lighter;
        font-size: 1.2em;
        color: rgb(49, 49, 49);
    }
    
    .logo p{
        margin-top: 3px;
        margin-left: 10px;
        
    }

    nav ul{
        list-style-type: none;
        display: flex;

        position: relative; top: 0;
        margin-top: -285px;
        margin-bottom: 250px;
        margin-left: 160px;
    
    }
    
    nav li a{
        font-family: 'Raleway2', sans-serif; 
        font-weight:lighter;
        font-size: 1.2em;
    
        text-decoration: none;
        color: rgb(113, 120, 130);

        padding: 0px 45px 20px 45px;
        border-bottom: 3px rgb(170, 177, 187) solid;
    }
    
    #actact{
        padding: 0px 240px 20px 45px;
        margin-left: 190px;
    }

    #hebheb{
        width: 80%;
        padding: 0px 45px 20px 200px;
        margin-left: -195px;
    }

    nav li{
        width: 0;
    }
    
    

    #inscrire{
        position: absolute; top: 0;
        margin-left: 340px;
        margin-top: -50px;
        border: none;
        width: 50px;
        
    }
    
    nav a:hover{
        color: rgb(45, 109, 226);
        border-top: none;
        border-bottom: 3px rgb(45, 109, 226) solid;
    }


    /* Recherche */

    .recherche input[type=text]{
        width: 290px;
        padding: 15px;
        margin-left: 220px;
        margin-bottom: 40px;
        margin-top: 52px;
        box-sizing: border-box;
        border: 0.5px solid gainsboro;
        font-family: 'Raleway2', sans-serif;
        font-weight: normal;
      }
    
    .position{
        margin-top: 15px;
        margin-left: 168px;
        background-color: rgba(238, 238, 238, 0.781);
        width: 50px;
        height: 46px;
        margin-bottom: -100px;
        border: 0.5px solid gainsboro;
        border-radius: 18px 0px 0px 18px;
    }
    
    .position i{
        position:relative;
        right: -20px;
        bottom: -14px;
        color: black;
        
    
    }
    
    .bouton{
        background-color:rgb(45, 109, 226);
        width: 50px;
        height: 48px;
        margin-left: 500px;
        margin-top: -88px;
        border-radius: 15px 15px 15px 15px;
        position: absolute;
        
    }
    
    .bouton a{
        display: none;
    }

    .mob_bouton{
        display: block;
        margin-left: 518px;
        margin-top: -73px;
        position: absolute;
    }

    .mob_bouton i{
        color: white;
       
    }
    
    /* Filtres*/

    .filtres{
        font-size: large;
        font-weight: normal;
        
        margin-top: -5px;
        width: 100%;
        height: 270px;
        
    }

    .filtres ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        
        height: 220px;
        width: 100%;
        margin: 0 auto;
        
        
    }

    .filtres b{
        position: absolute; left: 20px;
        margin-top: -235px;
        margin-bottom: 10px;
        
    }

    .filtres a{
        color: black; 
        margin-left: -30px;
        
        border: 1px rgb(170, 177, 187) solid;
        padding: 10px 15px 10px 30px;
        border-radius: 5px 30px 30px 5px;
        
    }

    .filtres li{
        
        height: 20%;
        margin-top: 10px;
        margin-left: 25px;
        width: 30%;
        
    }
    #anima_mob{
        width: 35%;
        margin-left: 100px;
    }
    
    #fam_mob{
        margin-left: 100px;
    }

    .icones_filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        margin-top: -30px;
    }

    .money{
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: 12px;
        margin-top: -188px;
    }

    .money i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -14px;
        bottom: -13px;
    }
    
    .child{
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: 265px;
        margin-top: -188px;
     }
    
     .child i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -18px;
        bottom: -14px;
    }

    .heart{
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: -360px;
        margin-top: -78px;
     }
    
    .heart i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -16px;
        bottom: -14px;
    }

    .dog {
        background-color:rgb(190, 225, 253);
        height: 44px;
        width: 47px;
        border-radius: 100%;
        margin-left: 265px;
        margin-top: -78px;
     }
    
     .dog i{
        color: rgb(45, 109, 226);
        position: relative;
        right: -15px;
        bottom: -12px;
    }


    /* Heb Mobile*/

    #hebergements{
        border-radius: 20px;
        height: 1000px;
        width: 100%; 
        display: flex;
        flex-direction: column;
        
        margin-top: 700px;
        margin-left: -2px;
        margin-bottom: 400px;
    }
    
    .panier{order: 1;}
    .mer{order: 4;}
    .pport{order: 2;}
    .mou{order: 3;}
    .panier{order: 5;}
    .amina{order: 6;}

    .pport{
        margin-top: -935px;
        margin-left: 360px;
    }

    .mou{
        margin-top: -135px;
       
    }

    .panier{
        margin-top: -135px;
    }

    .mer{
        margin-left: 360px;
        margin-top: -135px;
    }

    .amina{
        margin-left: 360px;
        margin-top: -135px;
    }
    

    #heb_title{
        margin-top: 100px;
        margin-left: 20px;
        margin-bottom: -115px;
        margin-right: -40px;
        width: 90%;
    }
    
    #heb_title h2{
        font-family: 'Raleway2', sans-serif;
        font-weight: bold;
        font-size: 1.8em;
        margin-left: 380px;
        margin-bottom: -70px;
    }

    #hebergements img{
        width: 340px;
        height: 120px;
        border-radius: 14px 14px 0px 0px;
        margin-top: 3px;
        margin-left: 5px;
        object-fit: cover;
    }
    
    #hebergements figure{
        background-color: white;
        border: 1px solid rgb(255, 255, 255);
        width: 350px;
        height: 210px;
        border-radius: 20px;
        margin-top: 120px; 
        margin-left: 18px;
        margin-bottom: -65px;
        box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 5px;
    }
    #hebergements figcaption{
        padding-left: 15px;
        margin-top: -10px;
    }

    #hebergements p{
        margin-top: 4px;
    }

    .aff_plus a{
        position: relative; left: 0; top: 0;
        margin-top: 50%;
    }

    /* Aside Mob*/

    aside{
        background-color: rgba(238, 238, 238, 0.781);
        height: 680px;
        border-radius: 0px;
        width: 100%; 
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-top: -2100px;
        margin-bottom: 1000px;
    }

    #tit_pop i{
        margin-top: -15px;
        height: 30px;
    }

    #tit_pop h2{
        font-family: 'Raleway2', sans-serif;
        font-size: 1.4em;
        margin-left: -65px;
        font-weight: bold;
        margin-bottom: 40px;
        margin-top: -10px;
        
    }

    aside figure{
        background-color: white;
        border: 1px solid rgb(255, 255, 255);
        width: 490px;
        height: 170px;
        border-radius: 25px;
        margin-left: 135px;
        display: flex;
        
        margin-top: -20px;
        box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 5px;
    }

    aside img{
        width: 220px;
        height: 150px;
        border-radius: 14px 0px 0px 14px;
        margin-top: -3px;
        margin-left: 8px;
        object-fit: cover;
    }
    
    aside p{
        font-size: 0.8em;
        font-weight: normal;
        font-family: 'Raleway2', sans-serif;
    }

    .infos_pop{
        margin-top: 17px;
    }

    .rating{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        color: rgb(170, 177, 187);
        margin-top: 25px;
    }
    
    aside strong{
        font-size: 0.9em;
    }

    /* Activites Mobile */ 

    #activites{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 70%;    
    }

    #activites h2{
        margin-left: 15px;
        width: 80%;
    }

    #act_1{
        margin-left: -13px;
        
    }

    #act_1 .big_a{
        margin-top: -85px;
        margin-left: -15px;
        margin-bottom: -70px;

        object-position: 60% 40%;

    }

    .big_a img{
        object-fit: cover;
    }

    #act_1 figure{
        width: 500px;
    }

    #frioul{
        margin-top: -1px;
    }

    #activites img{
        width: 500px;
        height: 150px;
        margin-bottom: -3px;
    }

    #act_2 .big_a{
        margin-top: -180px;
        margin-left: -15px;
        margin-bottom: -165px;
    }

    #act_2{
        margin-left: -13px;
        
    }

    #act_2 figure{
        width: 500px;
        
    }

    #longchamp{
        margin-top: 2px;
    }

    #pomegues{
        object-fit: cover;
        object-position: 40% 60%;
    }

    /* Footer Mob */

    footer div{
        margin-right: 110px;
    }
}