@font-face {
    font-family: 'Raleway1';
    src: url('fontz/static/Raleway-ExtraBold.ttf') format('ttf'),
         url('fontz/static/Raleway-Bold.ttf') format('ttf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: 'Raleway2';
    src: url('fontz/static/Raleway-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

#bloc_page{
    width: 900px;
    margin:auto;
}

/* Header */

.logo img{
    width: 120px;
    height: 50px;
}

header h1, section h1, aside h1, footer h1{
    padding-top: 25px;
    font-family: 'Raleway1', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
}

body p{
    font-family: 'Raleway2', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
    color: rgb(113, 120, 130);
    
}

.logo p{
    margin-top: -9px;
}


.recherche input[type=text]{
    width: 320px;
    padding: 15px;
    margin-left: 57px;
    margin-bottom: 40px;
    margin-top: 51px;
    box-sizing: border-box;
    border: 0.5px solid gainsboro;
    font-family: 'Raleway2', sans-serif;
    font-weight: normal;
  }

.position{
    margin-top: 19px;
    background-color: rgba(238, 238, 238, 0.781);
    width: 57px;
    height: 49px;
    margin-bottom: -100px;
    border-radius: 18px 0px 0px 18px;
}

.position i{
    position:relative;
    right: -23px;
    bottom: -15px;
    color: black;

}

.bouton{
    background-color:rgb(45, 109, 226);
    width: 156px;
    height: 48px;
    margin-left: 376px;
    margin-top: -88px;
    border-radius: 0px 18px 18px 0px;
}

.bouton a{
    color: white;
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;

    position: relative;
    right: -17px;
    bottom: -13px;
}

nav ul{
    list-style-type: none;
    display: flex;

    position: fixed ; top: 0; right: 0;
}

nav li a{
    margin-right: 50px;
    padding-top: 15px;

    font-family: 'Raleway2', sans-serif; 
    font-weight: normal;
    font-size: 1.1em;

    text-decoration: none;
    color: rgb(113, 120, 130);
}

nav a:hover{
    
    color: rgb(45, 109, 226);
    border-top: 2px rgb(45, 109, 226) solid;
    
}

 .filtres{
     font-family: 'Raleway2', sans-serif;
     font-size: 1em;
     font-weight: bold;
     
     display: flex;
     align-items: center;

     margin-top: 27px;
     width: 1100px;
 }

 .filtres ul{
     list-style-type: none;
     display: flex;
     margin-right: 40px;
 }

 .filtres a{
     text-decoration: none;
     margin-right: 60px;
     margin-left: 40px;

     color: black; 

     border: 1px rgb(170, 177, 187) solid;
     padding: 11px 18px 11px 22px;
     border-radius: 0px 20px 20px 0px;
}

 .icones_filtres{
     display: flex;
     margin-top: -30px;
 }

 .money{
     background-color:rgb(190, 225, 253);
     height: 43px;
     width: 44px;
     border-radius: 100%;
     margin-left: 100px;
     margin-top: -18px;
 }

 .money i{
     color: rgb(45, 109, 226);
     position: relative;
     right: -12px;
     bottom: -12px;
 }

 .money:hover{
     transform: scale(1.2, 1.2);
     transition: 0.5s ease-in-out;
 }

 .child{
    background-color:rgb(190, 225, 253);
    height: 43px;
    width: 44px;
    border-radius: 100%;
    margin-left: 175px;
    margin-top: -18px;
 }

 .child i{
    color: rgb(45, 109, 226);
    position: relative;
    right: -16px;
    bottom: -12px;
}

.child:hover{
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
}

.heart{
    background-color:rgb(190, 225, 253);
    height: 43px;
    width: 44px;
    border-radius: 100%;
    margin-left: 156px;
    margin-top: -18px;
 }

.heart i{
    color: rgb(45, 109, 226);
    position: relative;
    right: -14px;
    bottom: -13px;
}

.heart:hover{
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
}

.dog {
    background-color:rgb(190, 225, 253);
    height: 43px;
    width: 44px;
    border-radius: 100%;
    margin-left: 194px;
    margin-top: -18px;
 }

 .dog i{
    color: rgb(45, 109, 226);
    position: relative;
    right: -13px;
    bottom: -12px;
}

.dog:hover{
    transform: scale(1.2, 1.2);
    transition: 0.5s ease-in-out;
}

.infos{
    margin-top: 20px;
}

.infos a {
    display: flex;
    align-items: center;
    color: rgb(113, 120, 130);
    text-decoration: none;

}

.circleinf{
    border: 1px rgb(113, 120, 130) solid;
    border-radius: 100%;
    margin-right: 16px;
}

.circleinf i{
    color: rgb(45, 109, 226);
    position: relative;
    margin: 3px 8px;

}

/* Section */

#heb_title{
    margin-top: 100px;
    margin-left: 30px;
}

#heb_title h1{
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

#hebergements{
    background-color: rgba(238, 238, 238, 0.781);
    border-radius: 20px;
    height: 880px;
    width: 1230px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -110px;
}

#hebergements img{
    width: 323px;
    height: 165px;
    border-radius: 14px 14px 0px 0px;
    margin-top: -3px;
    margin-left: 8px;
}

#hebergements figure{
    background-color: white;
    border: 1px solid white;
    width: 340px;
    height: 280px;
    border-radius: 25px;
    margin-top: 120px;
    margin-right: -40px;
    margin-bottom: -65px;
    box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 5px;
}

#hebergements figcaption{
    padding-left: 15px;
}

#hebergements a{
    text-decoration: none;
}

#hebergements strong{
    color: black;
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
}

#hebergements p{
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Raleway2', sans-serif;
}

#hebergements div{
    margin-top: -17px;
}

#hebergements .rating .blue{ 
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: rgb(170, 177, 187);
    margin-top: 10px;
}

.blue i{
    color: rgb(45, 109, 226);
    
}

.aff_plus a{
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Raleway2', sans-serif;
    color: black;

}

.aff_plus{
    margin-left: -1130px;
    padding-top: 800px;
}

/* Aside Populaires */

aside{
    background-color: rgba(238, 238, 238, 0.781);
    border-radius: 20px;
    height: 880px;
    width: 580px; 
    display: flex;
    flex-direction: column;
    margin-left: 1300px;
    margin-top: -880px;
}

#tit_pop{
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    margin-left: 35px;
}

#tit_pop i{
    margin-top: 18px;
}

#tit_pop h2{
    font-family: 'Raleway2', sans-serif;
    font-size: 1.5em;
    margin-left: -70px;
}

aside img{
    width: 180px;
    height: 170px;
    border-radius: 14px 0px 0px 14px;
    margin-top: -3px;
    margin-left: 8px;
}

aside figure{
    background-color: white;
    border: 1px solid white;
    width: 480px;
    height: 190px;
    border-radius: 25px;
    display: flex;
    margin-bottom: 45px;
    box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 5px;
}

.infos_pop{
    margin-top: 30px;
    margin-left: 20px;
    
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
}

aside a{
    text-decoration: none;
}

aside strong{
    color: black;
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
}

aside p{
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Raleway2', sans-serif;
}

aside div{
    margin-top: -17px;
}

.rating{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: rgb(170, 177, 187);
    margin-top: 55px;
}

aside .blue{
    color: rgb(45, 109, 226);
    display: flex;
    align-items: baseline;
    direction: row;
    margin-top: 15px;

}
/* ACT Marseille*/

#activites{
    display: flex;
    margin-top: 50px;
}

#activites h2{
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
}

#activites img{
    border-radius: 20px 20px 0px 0px;
}

#activites figcaption{
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    border: 1px rgb(170, 177, 187) solid;
    padding: 15px 0px 15px 15px;
    margin-top: -20px;

    box-shadow: rgba(194, 194, 194, 0.753) 4px 4px 4px;

}

#activites a{
    text-decoration: none;
    color: black;
    font-family: 'Raleway2', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
}

#pomegues{
    width: 350px;
    height: 300px;
    margin-top: -3px;
    margin-bottom: -5px;
}

#frioul{
    height: 200px;
    width: 350px;
    margin-top: 45px;
}

#garde{
    width: 350px;
    height: 240px;
}

#longchamp{
    width: 350px;
    height: 245px;
    margin-top: 45px;
}

.big_a img{
    width: 450px;
    height: 620px;
}

#act_1 .small_a{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#act_2 .small_a{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#act_1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: -250px;
    width: 900px;
    height: 700px;
}

#act_2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 900px;
    height: 700px;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 40px;

    background-color: rgba(238, 238, 238, 0.781);
}

footer div{
    margin-right: 300px;
    display: flex;
    flex-direction: column;
}
footer p{
    color: black;
    
}

footer ul{
    list-style-type: none;
}

footer li a{
    text-decoration: none;
    color: rgb(113, 120, 130); 
    font-family: 'Raleway2', sans-serif;
    margin-left: -40px;
}